.panel-heading {
    background: #FAFAFA;
    border-bottom: 1px solid #eff2f7;
    color: #707478;
    border-color: #eff2f7;
    padding: 10px 15px;
    border: none;
}
.noresize {
    resize: none; 
}

label {
    padding-bottom: 5px !important;
}

.form-control:focus {
    border-color: #8ebdc6 !important;
    outline: 0 !important;
    -webkit-box-shadow: 1px 1px 1px #8ebdc6 !important;
    box-shadow: 1px 1px 1px #8ebdc6 !important;
}

.btn:focus {
    border-color: #8ebdc6 !important;
    outline: 0 !important;
    -webkit-box-shadow: 1px 1px 1px #8ebdc6 !important;
    box-shadow: 1px 1px 1px #8ebdc6 !important;
}

.gppi-nav {
    background-color: transparent !important;
    font-weight: 600 !important;
}

.gppi-nav:hover {
    font-weight: 900 !important;
}

.odd {
    background-color: transparent !important;
}

.odd:hover {
    background-color: #fcfcfc !important;
}

.resultado {
    color: #8ebdc6 !important;
    font-weight: 700 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #8ebdc6 !important;
    font-weight: 700 !important;
}

.nav-pills .nav-link {
    font-weight: 700 !important;
    border-radius: 0.2rem !important;
    margin: 2px !important;
}

.panel-title {
    line-height: 20px;
    font-size: 18px;
    font-weight: 700 !important;
    color: #8ebdc6 !important;
}

body {
    background: #F1F2F7;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #707478;
    padding-top: 5.4rem;
}

.panel-body {
    padding: 15px;
    background-color: #fff;
}


/* CSS simulacao.php */


legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
    font-size: 15px;
    line-height: inherit;
    color: #348fe2;
    border: 0;
    border-bottom: .1rem dashed #e5e5e5;
}

.btn-primary {
    background-color: #8ca8bb;
    border-color: #8ca8bb;
}

.btn-primary:hover {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.btn-primary:active {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.btn-primary:focus {
    background-color: #212529 !important;
    border-color: #212529 !important;
}